<h1>Monday</h1>

<form action="/monday" method="GET">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Quads+Glutes+Hamstrings
        </div>
        <ul class="list-group list-group-flush">
            <% exercise.results.forEach(function(exercise){ %>
        <% if((exercise.language === 2) && (exercise.category === 9) && (exercise.id === 432 )){ %>
        <li class="list-group-item"><%=exercise.name%> x 30s</li>
        <% } %>
        <% if((exercise.language === 2) && (exercise.category === 9) && (exercise.id ===  300 )){ %>
        <li class="list-group-item"><%=exercise.name%> x 30s</li>
        <% } %>
        <% if((exercise.language === 2) && (exercise.category === 9) && (exercise.id ===  405 )){ %>
        <li class="list-group-item"><%=exercise.name%> x 30s</li>
        <% } %>
        <% if((exercise.language === 2) && (exercise.category === 9) && (exercise.id === 116 )){ %>
        <li class="list-group-item"><%=exercise.name%> x 30s</li>
        <% } %>
        <% if((exercise.language === 2) && (exercise.category === 9) && (exercise.id === 387 )){ %>
        <li class="list-group-item"><%=exercise.name%> x 30s</li>
        <% } %>
    </ul>
    <% }) %>
    </div>
</form>


