<form action="/thursday" method="GET">
    <div class="card workout-card" style="width: 22rem;">
        <div class="card-header">
            <h1>Thursday</h1> 
            Back+Biceps
        </div>
        <ul class="list-group list-group-flush">
            <% exercise.results.forEach(function(exercise){ %>
        <% if((exercise.language === 2) && (exercise.category === 8 || exercise.category === 12) && (exercise.id === 412 )){ %>
        <li class="list-group-item"><%=exercise.name%> x 30s</li>
        <% } %>
        <% if((exercise.language === 2) && (exercise.category === 8 || exercise.category === 12) && (exercise.id === 81 )){ %>
            <li class="list-group-item"><%=exercise.name%> x 30s</li>
        <% } %>
        <% if((exercise.language === 2) && (exercise.category === 8 || exercise.category === 12) && (exercise.id === 86 )){ %>
        <li class="list-group-item"><%=exercise.name%> x 30s</li>
        <% } %>
        <% if((exercise.language === 2) && (exercise.category === 8 || exercise.category === 12) && (exercise.id === 187 )){ %>
        <li class="list-group-item"><%=exercise.name%> x 30s</li>
        <% } %>
        <% if((exercise.language === 2) && (exercise.category === 8 || exercise.category === 12) && (exercise.id === 330 )){ %>
        <li class="list-group-item"><%=exercise.name%> x 30s</li>
        <% } %>
    </ul>
    <% }) %>
    </div>
</form>