<form action="/wednesday" method="GET">
    <div class="card workout-card" style="width: 22rem;">
        <div class="card-header">
            <h1>Wednesday</h1> 
                Abs
        </div>
        <div class="card-header">
            Complete this sequence x 4
        </div>
        <ul class="list-group list-group-flush">
            <% exercise.results.forEach(function(exercise){ %>
        <% if((exercise.language === 2) && (exercise.category === 10) && (exercise.id === 91 )){ %>
        <li class="list-group-item"><%=exercise.name%> x 30s</li>
        <% } %>
        <% if((exercise.language === 2) && (exercise.category === 10) && (exercise.id ===  303 )){ %>
            <li class="list-group-item"><%=exercise.name%> x 30s</li>
        <% } %>
        <% if((exercise.language === 2) && (exercise.category === 10) && (exercise.id ===  166 )){ %>
        <li class="list-group-item"><%=exercise.name%> x 30s</li>
        <% } %>
        <% if((exercise.language === 2) && (exercise.category === 10) && (exercise.id === 383 )){ %>
        <li class="list-group-item"><%=exercise.name%> x 30s</li>
        <% } %>
        <% if((exercise.language === 2) && (exercise.category === 10) && (exercise.id === 310 )){ %>
        <li class="list-group-item"><%=exercise.name%> x 30s</li>
        <% } %>
        <% }) %>
        <li class="list-group-item"> 1 Minute Recovery</li>
    </ul>
    </div>
</form>